div.name {
    text-align: right;
}

.maintitle {
    text-align: center;
    font-family: 'Courier New', monospace;
}

div.note {
    font-style: italic;
    font-size: smaller;
}

div.booklet {
    color: #000000;
    background-color: AntiqueWhite;
    width: 67%;
    margin: auto;
    font-size: 14pt;
    font-family: arial;
    padding: 30px;
}
body.wall {
    background-color: DimGrey;
}
figure {
    float: right;
    width: 50%;
    /* ok so right now the image is inline with the text. i kinda like it, i kinda dont. do we want to put it above the text? below? or keep as is? up to you -M */
}
img {
    width: 100%;
}
img.cover {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px; 
}

.toc-list {
    padding-inline-start: 2ch;
    font-family: 'Courier New', monospace;
    /* you dont know how happy i am that the list works */
}
