div.name {
    text-align: right;

    /*  why isnt this working :( */
}

.maintitle {
    text-align: center;
    font-family: 'Courier New', monospace;
}

div.note {
    font-style: italic;
    font-size: smaller;
}

body.booklet {
    color: #000000;
    background-color: AntiqueWhite;
    width: 67%;
    margin: auto;
    font-size: 14pt;
    font-family: arial;
    padding: 30px;
}
figure {
    float: right;
    width: 50%;
    /* ok so right now the image is inline with the text. i kinda like it, i kinda dont. do we want to put it above the text? below? or keep as is? up to you -M */
}
img {
    width: 100%;
}

.toc-list {
  padding-inline-start: 2ch;
  font-family: 'Courier New', monospace;
  /* i would really like bullet points but its not working :( */
}
