/* Place project-specific CSS here */

    body {
        background-color:antiquewhite;
        font-family: garamond; 
        font-size: 14pt;
        }
    title {
        color:goldenrod;
        font-size: 14pt; 
        font-family: garamond;
        text-align: center; 
        font-family: garamond;
        }
    titleStmt {text-align: center;     
        color:darkolivegreen; 
        font-family: garamond; 
        font-size: 24pt;
        }
 
    #highlight {
        border:5px solid goldenrod;
        }
    p {
        text-align: center;     
        color:darkolivegreen; 
        font-family: garamond; 
        font-size: 14pt;
        }

listbibl {text-align: center;     
        color:darkolivegreen; 
        font-family: garamond; 
        font-size: 14pt;
        }
        
noteGrp {text-align: center;     
        color:darkolivegreen; 
        font-family: garamond; 
        font-size: 14pt}
       
author:after {
    content:"\a";
    white-space: pre;
    }

