/* Place project-specific CSS here */

head {
    width: auto;
    margin: auto;
    padding: 0px;
    border: 0px;
}

body {
    background-color: antiquewhite;
}

figure {
    width: auto;
    margin: auto;
}
title {
    color: goldenrod;
    font-size: 18pt;
    font-family: garamond;
    text-align: center;
    font-family: garamond;
    font-style: italic;
}
titleStmt {
    text-align: center;
    color: darkolivegreen;
    font-family: garamond;
    font-size: 32pt;
}

#highlight {
    border: 5px solid goldenrod;
}
p {
    text-align: center;
    color: darkolivegreen;
    font-family: garamond;
    font-size: 18pt;
}
div[type = “flowers”] {
    text-align: center;
    color: darkolivegreen;
    font-family: garamond;
    font-size: 18pt;
}

div[type = “meanings”] {
    text-align: center;
    color: darkolivegreen;
    font-family: garamond;
    font-size: 18pt;
}

div[type = “poetry”] {
    text-align: center;
    color: darkolivegreen;
    font-family: garamond;
    font-size: 18pt;
}

div[type = “end_pages”] {
    text-align: center;
    color: darkolivegreen;
    font-family: garamond;
    font-size: 18pt;
}



author:after {
    content: "\a";
    white-space: pre;
}
