/* Place project-specific CSS here */
p {
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: #D6DAC4;
}
note {
    background: #E6E9DA;
    position: relative;
    bottom:0;
}

html {
    width: fit-content;
}

