/* Place project-specific CSS here */

html {
  margin: 0;
  padding: 1.5em;
  width: unset;

  background: rgb(200, 200, 200);
}

#tei_wrapper {
  width: 65%;
  margin: auto;
  padding: 1.5em;

  background: white;
}

note {
  font-size: 16px;
  padding: 1.5em;
}

listBibl {
  display: flex;
  flex-direction: column;
}

bibl:not(:first-child) {
  margin: 1em 0 0 0;
}

back {
  border: dashed 2px black;
  padding: 1em;
  margin: 3em 0 0 0;
}
