html {
margin: 0;
padding: 0;
margin-left: 2em;
margin-right: 4em;
padding: 2.5em;
background-image: url(https://media.istockphoto.com/id/1299389385/photo/vintage-white-paper-texture.jpg?s=612x612&w=0&k=20&c=S85UZFYGC8iYqFBnB2G5dJjuTUdFNujuDNcCKlbLExo=);
width: 1200px;
font-family: didot;
color: #3D3935;
text-align: center;
margin: auto;
}
titleStmt > tei-title {
font-family: didot;
font-size: 48pt;
font-weight: bold;
text-transform: uppercase;
}
titleStmt > author {
font-family: didot;
font-size: 32pt;
font-weight: bold
}
titleStmt > editor {
font-family: cursive;
}
front {
font-family: cursive
}
TEI head {
font-family: didot;
font-weight: bold;
font-size: 24pt;
text-transform: uppercase;
}
body {
font-size: 14pt;
}
a:link, a:visited, a:active {
color: #0047AB;
text-decoration: none;
}
note {
font-size: 12pt;
font-family: cursive;
position: relative;
border: 1px solid #AAA;
background: #FAFAFA;
text-align: justify
}
desc {
display: block;
margin: 1.5em auto 1.5em auto;
padding: 0.5em 1.5em 1.5em 1.5em;
border-radius: 15px;
width: 325px;
font-size: 12pt;
font-family: cursive;
position: relative;
border: 1px solid #AAA;
background: #FAFAFA;
text-align: justify;
}
bibl {
display: block;
margin: 1.5em auto 1.5em auto;
padding: 0.5em 1.5em 1.5em 1.5em;
border-radius: 15px;
width: 600px;
font-size: 12pt;
font-family: didot;
position: relative;
border: 1px solid #AAA;
background: #FAFAFA;
text-align: justify;
}
#teibpToolbox {
display: none
}
