html {
margin: 0;
padding: 0;
margin-left: 2em;
margin-right: 4em;
padding: 2.5em;
background-image: url(https://media.istockphoto.com/id/1299389385/photo/vintage-white-paper-texture.jpg?s=612x612&w=0&k=20&c=S85UZFYGC8iYqFBnB2G5dJjuTUdFNujuDNcCKlbLExo=);
width: 1200px;
font-family: didot;
color: #3D3935;
text-align: center;
margin: auto;
}
titleStmt > tei-title {
display: block;
font-size: 48pt;
font-weight: bold;
text-transform: uppercase;
}
titleStmt > author {
font-size: 32pt;
font-weight: bold
}
head {
font-size: 32pt;
text-transform: uppercase;
}
body {
font-size: 14pt;
}
note {
font-size: 12pt;
font-family: cursive;
position: relative;
border: 1px solid #AAA;
background: #FAFAFA;
text-align: justify
}
#teibpToolbox {
display: none
}
